*{box-sizing: border-box}
html,body {
  height: 400%;
  margin: 0;
  padding: 0;
  background-color:rgb(126, 219, 126);
  overflow:hidden;
}
/* Style tab links */
.change {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 10px;
  width: 25%;    
}

.change:hover {
  background-color: #777;
  transform: scale(1.1); 
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 200px;
  height: 100%;
}

#Home {background-color: rgb(235, 137, 137);}
#Teacher {background-color: rgb(126, 228, 126);}
#News {background-color: rgb(111, 111, 228);}
#About {background-color: rgb(241, 205, 137);}
