.bg {
    /* The image used */
    background-image: url("2.jpg");
  
    /* Full height */
  /* Style tab links */
    height: 70%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 70%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .change {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;    
  }
  
  .change:hover {
    background-color: #777;
    transform: scale(1.1); 
  }

  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: rgb(235, 137, 137);}
  #Teacher {background-color: rgb(126, 228, 126);}
  #News {background-color: rgb(111, 111, 228);}
  #About {background-color: rgb(241, 205, 137);}
  