/* ::-webkit-scrollbar {
    display: none;
} */

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

header .part {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: white;
    transition: all 0.8s cubic-bezier(0.5, 0.1, 0.3, 1);
}

header .part.left {
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

header .part.right {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

header.open .part.left {
    clip-path: polygon(0 0, 0 100%, 0 100%);
}

header.open .part.right {
    clip-path: polygon(100% 0, 100% 0, 100% 100%);
}
.msize{
    font-size:28px;
}
.nav {
    float: left;
    height: 100vh;
    width: 100vw;
}

#mainroadLine {
    display: block;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    height: 30vh;
    width: 100vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    z-index: 2;
}

#mainroadLine p {
    text-align: center;
    font-size: 80px;
}

.mainBlock {
    display: block;
    float: left;
    height: 15vh;
    width: 100vw;
    background-color: black;
    margin-bottom: 4vh;
}

.mainBlock button {
    background: transparent;
    text-decoration: none;
    color: white;
    display: block;
    float: left;
    width: 19vw;
    height: 100%;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    text-align: center;
    font-size: 30px;
}


/* 
#character {
    top: 3%;
    left: 55%;
    position: absolute;
    z-index: 1;
} */

.title {
    position: relative;
    top: 10vh;
    left: 5vw;
    width: 40vw;
    height: 90vh;
    float: left;
}

.title2 {
    position: relative;
    float: left;
    top: 10vh;
    left: 10vw;
    width: 45vw;
}

.title3 {
    position: relative;
    float: left;
    top: 10vh;
    left: 10vw;
    width: 70vw;
}

h1 {
    position: relative;
    color: white;
    text-align: left;
    display: block;
    font-size: 50px;
}

h2 {
    position: relative;
    color: white;
    text-align: left;
    display: block;
    font-size: 40px;
    /* -webkit-column-count: 3; */
}

h3 {
    position: relative;
    color: white;
    text-align: left;
    display: block;
    font-size: 25px;
}

#Advisor {
    display: none;
    float: left;
    position: relative;
    height: 100vh;
    width: 100vw;
}

#Course {
    display: none;
    float: left;
    height: 100vh;
    position: relative;
    width: 100vw;
}

#Project {
    display: none;
    float: left;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#Members {
    display: none;
    float: left;
    position: relative;
    width: 100vw;
    height: 100vh;
}
#Maker {
    display: none;
    float: left;
    position: relative;
    width: 100vw;
    height: 100vh;
}


.down a {
    position: absolute;
    bottom: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.footer {
    position: relative;
    margin-top: 10vh;
    text-align: center;
}

.down span {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotateZ(45deg);
    animation: down 4s infinite;
}

@keyframes down {
    0% {
        transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotateY(540deg) rotateZ(-45deg) translate(-100%, 100%);
        opacity: 0;
    }
}

.up a {
    z-index: 2;
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.up span {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotateZ(135deg);
    animation: up 4s infinite;
}
.card .article {
    background: #0081fa;
    color:black;
    padding: 20px;
    margin: 30px;
    box-shadow: 5px 10px 18px #975b5b;
    flex: 1;
}

@keyframes up {
    0% {
        transform: rotateY(0) rotateZ(135deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotateY(540deg) rotateZ(135deg) translate(-100%, 100%);
        opacity: 0;
    }
}

.back button {
    z-index: 2;
    position: fixed;
    top: 20vh;
    right: 0%;
    color: gray;
    display: block;
    float: left;
    width: 10vw;
    height: 10vh;
    clip-path: circle(30%);
    transition: 1000ms ease all;
    cursor: pointer;
}

.back button:hover {
    background: #fff;
    color: rgb(25, 211, 167);
}

.Page1 {
    position: relative;
    float: left;
    height: 100vh;
    width: 100vw;
    background-image: url("image/4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-name: fade-out;
    animation-duration: 2s;
}

.Page2 {
    position: relative;
    float: left;
    height: 100vh;
    width: 100vw;
    background-image: url("image/4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.Page3 {
    position: relative;
    float: left;
    height: 100vh;
    width: 100vw;
    background-image: url("image/4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}

.Page4 {
    position: relative;
    float: left;
    height: 100vh;
    width: 100vw;
    animation-name: fade-out;
    animation-duration: 2s;
    background-image: url("image/4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}

.Page5 {
    position: relative;
    float: left;
    height: 100vh;
    width: 100vw;
    background-image: url("image/4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}

.Page6 {
    animation-duration: 2s;
    animation-name: fade-out;
    position: relative;
    float: left;
    height: 100vh;
    width: 100vw;
    background-image: url("image/4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}

.Page7 {
    animation-duration: 2s;
    animation-name: fade-out;
    position: relative;
    float: left;
    height: 100vh;
    width: 100vw;
    background-image: url("image/4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}

.Page8 {
    animation-duration: 2s;
    animation-name: fade-out;
    position: relative;
    float: left;
    height: 100vh;
    width: 100vw;
    background-image: url("image/4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}
.Page9 {
    animation-duration: 2s;
    animation-name: fade-out;
    position: relative;
    float: left;
    height: 100vh;
    width: 100vw;
    background-image: url("image/4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}
.Page10 {
    animation-duration: 2s;
    animation-name: fade-out;
    position: relative;
    float: left;
    height: 100vh;
    width: 100vw;
    background-image: url("image/4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}


@keyframes fade-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .aBlock button {
        font-size: 15px;
    }
    #mainroadLine p {
        text-align: center;
        font-size: 50px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 15px;
    }
    .back button {
        width: 20vw;
        height: 20vh;
    }
    li{
        font-size: 25px;
    }
}