html, body {
   height: 100%;
   width:100%;
   margin: 0;
   padding: 0;
}
.page{
   position:relative;
   height: 100%;
   width: 100%;
   display: block;
   float: left;
}
::-webkit-scrollbar { 
   display: none; 
}

div h1 {
    position: absolute;
    top: 50%;
    left: 48%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font : normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
}
.left a {
   position: absolute;
   bottom: 40%;
   left: 90%;
   z-index: 2; /*the word upper the herf*/
   display: inline-block;
   color: #fff;
   font : 20px'Microsoft JhengHei';
   letter-spacing: .1em;
   transition: opacity .3s;
 }
.down a {
   position: absolute;
   bottom: 3%;
   left: 48%;
   z-index: 2;
   display: inline-block;
   color: #fff;
   font : 20px'Microsoft JhengHei';
   letter-spacing: .1em;
   transition: opacity .3s;
}
 
.right a {
   position: absolute;
   bottom: 40%;
   left: 5%;
   z-index: 2; /*the word upper the herf*/
   display: inline-block;
   color: #fff;
   font : 20px'Microsoft JhengHei';
   letter-spacing: .1em;
   transition: opacity .3s;
}
.up a {
   position: absolute;
   bottom: 97%;
   left: 48%;
   z-index: 2;
   display: inline-block;
   color: #fff;
   font : 20px'Microsoft JhengHei';
   letter-spacing: .1em;
   transition: opacity .3s;
}
.page a {
   padding-top: 60px;
 }
.down span {
   position: absolute;
   top: 0;
   left: 48%;
   width: 24px;
   height: 24px;
   margin-left: -12px;
   border-left: 4px solid #fff;
   border-bottom: 4px solid #fff;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   box-sizing: border-box;
 }

 
#page1 {
   background-color: rgb(214, 188, 148);
} 
#page2 { 
   background-color: rgb(152, 148, 214);
} 
#page3 { 
   background-color: rgb(150, 211, 142);   
} 
#page4 { 
   background-color: rgb(214, 188, 148);
} 

  
  